.loved-by-king {
  font-family: "Loved by the King", sans-serif;
}

.color-grade-span {
  border-bottom: 0.15em solid;
  display: inline-block;
  line-height: 0.75;
}

.global-form-width {
  max-width: 600px;
  margin-top: 2rem;
}

.theme--light {
  .v-main__wrap {
    background-color: #f5f5f5;
  }
}

.v-application--is-ltr .v-text-field .v-input__prepend-inner {
  padding-right: 10px;
}

.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--box .v-select__selections, .v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed .v-select__selections {
  min-height: 42px;
  padding-bottom: 3px;
}

.v-text-field--full-width .v-input__prepend-outer, .v-text-field--full-width .v-input__prepend-inner, .v-text-field--full-width .v-input__append-inner, .v-text-field--full-width .v-input__append-outer, .v-text-field--enclosed .v-input__prepend-outer, .v-text-field--enclosed .v-input__prepend-inner, .v-text-field--enclosed .v-input__append-inner, .v-text-field--enclosed .v-input__append-outer {
  margin-top: 19px;
}

.smallest-table-column {
  width: 10px;
  white-space: nowrap;
}

.full-height {
  height: 100%;
}

.big-font-size {
  font-size: 4em;
}

@media only screen and (max-width: 600px) {
  .global-form-width {
    margin-top: -0.5rem;
  }
}
