.loved-by-king {
  font-family: "Loved by the King", sans-serif;
}

.color-grade-span {
  border-bottom: 0.15em solid;
  display: inline-block;
  line-height: 0.75;
}

.global-form-width {
  max-width: 600px;
  margin-top: 2rem;
}

.theme--light {
  .v-main__wrap {
    background-color: #f5f5f5;
  }
}

.v-application--is-ltr .v-text-field .v-input__prepend-inner {
  padding-right: 10px;
}

.smallest-table-column {
  width: 10px;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .global-form-width {
    margin-top: -0.5rem;
  }
}
