VUE_APP_OBLYK_API_URL='http://localhost:3000'
VUE_APP_OBLYK_APP_URL='http://localhost:4500'
VUE_APP_OBLYK_APP_PORT=4500
VUE_APP_OBLYK_API_CABLE_URL='ws://localhost:3000/cable'
VUE_APP_OBLYK_API_ACCESS_TOKEN='oblyk-api-access-token'
VUE_APP_BUILD_MODERN=false
VUE_APP_MATOMO_URL='//matomo.org/'
VUE_APP_MATOMO_SITE_ID=your-site-id
VUE_APP_OBLYK_APP_STAGING=true
VUE_APP_OBLYK_APP_MAINTENANCE=false
VUE_APP_EXHIBITION_GYM=1,2
VUE_APP_MAPBOX_TOKEN='mapbox-token'
VUE_APP_MAPBOX_TERRAIN_STYLE='user-name/style-name'
VUE_APP_MAPBOX_SATELLITE_STYLE='user-name/style-name'
