@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Roboto-MediumItalic.ttf') format('truetype');
}

strong {
  font-weight: 500;
}

.h2-title-in-card-title {
  font-weight: 500;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .v-icon {
    vertical-align: sub;
  }
}

.color-grade-span {
  border-bottom: 0.25em solid;
  display: inline-block;
  font-weight: bolder;
  padding: 2px;
  line-height: 0.75;
}

.global-form-width, .col.global-form-width {
  max-width: 600px;
  margin-top: 2rem;
}

.common-page-container {
  max-width: 1100px;
  min-height: calc(100vh - 330px);
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-baseline {
  vertical-align: baseline;
}

.vertical-align-sub {
  vertical-align: sub !important;
}

.vertical-align-top {
  vertical-align: top !important;
}

.vertical-align-text-top {
  vertical-align: text-top !important;
}

.vertical-align-text-bottom {
  vertical-align: text-bottom !important;
}

.vertical-align-bottom {
  vertical-align: bottom !important;
}

.full-name-field-form {
  display: none !important;
}

.transparent-tabs {
  .v-tabs-bar {
    background: none !important;
  }
}

.light-primary-hoverable {
  &:hover {
    background-color: rgba(49, 153, 78, 0.1) !important;
  }
}

.theme--light {
  .v-main__wrap {
    background-color: rgb(240, 240, 245);
  }
}

.oblyk-navigation-drawer {
  z-index: 9;
}

.v-application--is-ltr .v-text-field .v-input__prepend-inner {
  padding-right: 10px;
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
  padding-left: 10px;
}

.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--box .v-select__selections, .v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed .v-select__selections {
  min-height: 42px;
  padding-bottom: 3px;
}

.v-text-field--full-width .v-input__prepend-outer, .v-text-field--full-width .v-input__prepend-inner, .v-text-field--full-width .v-input__append-inner, .v-text-field--full-width .v-input__append-outer, .v-text-field--enclosed .v-input__prepend-outer, .v-text-field--enclosed .v-input__prepend-inner, .v-text-field--enclosed .v-input__append-inner, .v-text-field--enclosed .v-input__append-outer {
  margin-top: 19px;
}

.v-breadcrumbs {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap !important;
  padding-left: 5px !important;
}

.smallest-table-column {
  width: 10px;
  white-space: nowrap;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.app-height {
  height: calc(100vh - 65px);
}
@media only screen and (max-width: 600px) {
  .app-height {
    height: calc(100vh - 45px);
  }
}
.big-font-size {
  font-size: 4em;
}

.clear-both {
  clear: both;
}

.span-comma {
  span:after {
    content: ', ';
  }
  span:last-child:after {
    content: '';
  }
}

.a-comma {
  a:after {
    content: ', ';
  }
  a:last-child:after {
    content: '';
  }
}

.hoverable {
  cursor: pointer;
}

.hoverable-card {
  transition: background-color 0.3s;
}

.no-hover-table .v-data-table__wrapper {
  table {
    tr {
      &:hover {
        background: none !important;
      }
    }
  }
}

.discrete-link {
  color: inherit !important;
  text-decoration: none;
}

.list-style-none {
  list-style: none;
}
.smooth-elevation {
  transition: box-shadow 0.2s;
}

.climbs-pastille {
  &:before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    vertical-align: inherit;
    margin-right: 0.5em;
    border-radius: 50%;
  }
  &.pastille-x-small:before {
    height: 9px;
    width: 9px;
    margin-right: 1px;
  }
  &.sport_climbing:before { background-color: #3a71c7; }
  &.bouldering:before { background-color: #ffcb00; }
  &.multi_pitch:before { background-color: #ff5656; }
  &.trad_climbing:before { background-color: #e92b2b; }
  &.aid_climbing:before { background-color: #d40000; }
  &.deep_water:before { background-color: #86ccdd; }
  &.via_ferrata:before { background-color: #3cc770; }
  &.fun_climbing:before { background-color: #ff80b2; }
}

.leaflet-pane {
  z-index: 5 !important;
}
.leaflet-top {
  z-index: 8 !important;
}
.leaflet-bottom {
  z-index: 5 !important;
}
@media only screen and (max-width: 600px) {
  .global-form-width {
    margin-top: -0.5rem;
  }
}

.required-field .v-label::after {
  content: " *";
  color: #f44336;
  font-size: 1.4em;
  vertical-align: text-top;
}

.black-btn-icon {
  color: white !important;
  background-color: black;
  &.--with-border {
    border-width: 2px;
    border-color: white;
    border-style: solid;
  }
}

.activable-v-sheet {
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  &:hover {
    background: rgba(49, 153, 78, 0.2);
    border-color: rgba(49, 153, 78, 0.3);
  }
  &.--active {
    border-color: rgb(49, 153, 78);
    background: rgba(49, 153, 78, 0.2);
  }
  &.--inactive {
    border-color: rgba(100, 100, 100, 0.1);
  }
}

.rounded-list-item {
  &.v-list-item {
    border-radius: 15px;
    &:before {
      border-radius: 15px;
    }
  }
}

.beta-background {
  background: linear-gradient(-45deg, #1E88E5 12.5%, #208be9 12.5%, #208be9 37.5%, #1E88E5 37.5%, #1E88E5 62.5%, #208be9 62.5%, #208be9 87.5%, #1E88E5 87.5%);
  background-size: 50px 50px;
  background-position: 50px 50px;
}

.border {
  border-style: solid;
  border-width: 1px;
  &.--current-color-border {
    border-color: currentColor !important;
  }
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.v-data-table tbody tr.v-data-table__selected {
  background-color: rgba(49, 153, 78, 0.2) !important;
}

.theme--dark {
  .border-bottom, .border-top, .border {
    border-color: rgb(50, 50, 50);
  }
  .back-app-color {
    background-color: rgb(18, 18, 18);
  }
  .hoverable-card {
    &:hover {
      background-color: rgb(18, 18, 18);
    }
  }
}
.theme--light {
  .border-bottom, .border-top, .border {
    border-color: rgb(230, 230, 230);
  }
  .back-app-color {
    background-color: rgb(240, 240, 245);
  }
  .hoverable-card {
    &:hover {
      background-color: rgb(240, 240, 245);
    }
  }
}
