// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$border-radius-root: 15px;
$btn-border-radius: 10px;
$card-elevation: 0;
$sheet-elevation: 0;

$container-max-widths: (
  'xl': 1185px
);
